*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.nav_bar{
    position: sticky;
   
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background: rgb(40 116 240);
 } 
 .logo a{
    text-decoration: none;
    font-size: 50px;
    font-family: cursive;
    color: white;
 }
 .logo a:hover{
    color: yellow;
    transition-duration: 2s;
 }
 .menu ul{
    display: flex;
 }
 .menu ul li{
    list-style: none;
 }
 .menu ul li a{
    text-decoration: none;
    font-weight: bold;
    font-family:sans-serif;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
 }
 .menu ul li a:hover {
    color:yellow; 
    transition-duration: 1s;
}
.search a{
    display: flex;
}
#input {
    height: 30px;
    width: 550px;
    text-decoration: none;
    border: 0px;
    padding: 5px;
  }
  ion-icon:hover {
    cursor: pointer;
  }
  
/* products */
#divs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    /* border: 5px solid rgb(42, 7, 238); */
margin-top: 15px;
}
#div_continer0{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

#div_continer1{
    /* box-shadow: 10px 10px 5px #aaaaaa; */
    width:300px;
    height:450px;
    row-gap: 50px;
    position: relative;
    /* border: solid black; */
    border-radius: 20px;
    z-index: 0;
}

#imgs1{
    width: 100%;
    border-radius: 20px;
    height: 250px;
    position: absolute; 
}
#imgs1:hover{
    scale: 1.05;
}

#titles1{
    position: absolute;
    top: 280px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#price1{
    position: absolute;
    top: 360px;
    left: 115px;
    font-weight: bold;
}
#cart{
    position: absolute;
    top: 400px;
    left: 30px;
    background-color: rgb(255 159 0);
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border: solid rgb(255 159 0) ;
    border-radius: 20px;
}
#cart:hover{
    cursor: pointer;
    color: black;
}
#buynow{
    position: absolute;
    top: 400px;
    left: 200px;
    background-color: rgb(251 100 27);
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border: solid rgb(251 100 27) ;
    border-radius: 20px;
}
#buynow:hover{
    cursor: pointer;
    color: black;
}

/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(40 116 240);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: yellow;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




